body {
  font-size: 1.5em;
  font-family: 'Roboto', sans-serif;
  background-color: #424242;
}

#container {
  max-width: 450px;
  padding: 20px;
  margin: auto;
}

#timers {
  max-width: 100%;
}

.timer {
  height: 100%;
  width: 45%;
  padding: 0 0 30px 0;
  border: solid 5px #03A9F4;
  border-radius: 3px;
  text-align: center;
  color: white;
}

.timer button {
  padding: 0 11px;
  background-color: #03A9F4;
}

#work {
  float: left;
}

#break {
  float: right;
}

#clear{
  clear: both;
}

#clock{
  margin: 20px auto;
  text-align: center;
  border: solid 5px #E91E63;
  border-radius: 3px;
  color: white;
}

#session-display{
  font-size: 1.5em;
}

#clock-display{
  font-size: 2.2em;
}

#clock button{
  padding: 0 16px;
  margin: 0 0 40px 0;
}

.start {
  background-color: #388E3C;
}

.stop {
  background-color: #D32F2F;
}

button {
  font-size: 1em;
  height: 36px;
  border-radius: 2px;
  border-style: none;
  outline: none;
  cursor: pointer;
  color: white;
}

button:hover {
  box-shadow: 0 4px 8px 0 rgba(255,255,255,0.3),0 8px 24px 0 rgba(255,255,255,0.19);
}
